@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100&display=swap');

body{
  background: #22223a;
}

.Naslov{
  font-family: CustomFont, cursive;
  color: aliceblue;
  font-size: 160px;
  margin-left: 17vw;
  transition: 2700ms; 
  }

  @font-face {
    font-family: CustomFont;
    src: url(BebasNeue-Regular.ttf);
  }

  .tabdugme1{
    border-radius: 40px 0px 0px 0px; 
    }
    
    .tabdugme2{
    border-radius: 0px 40px 0px 0px; 
    }
    
    .tabdugme{
    width: 180px;
    height: 70px;
    background-color: #3c3957;
    color: white;
    transition: 0.4s;
    font-size: 20px;
    }
    
    .tabdugme:hover{
    background-color: #6b6b80;
    border: 2px #343150;
    }
    
    .tabdugme1.active {
    background-color: rgb(255, 255, 255);
    color: black;
    }
    .tabdugme2.active {
    background-color: rgb(255, 255, 255);
    color: #0b0611;
    }

    .FlexZaDugmadi{
      display: flex;
      justify-content: center;
      }    

      .kofolTekst{
        margin-top: 5vw;
        margin-left: 44vw;
        font-size: 70px;
        opacity: 1;
        transition: 3500ms; 
        color: aliceblue;
        font-family: 'Roboto Serif', sans-serif;
        }
       
.KartaSlika{
  width: 450px; 
  height: 200px; 
}

.card {
  background-color: rgb(252, 248, 248);
  border-radius: 10px;
  box-shadow: 20px 20px rgb(10, 10, 10);
  overflow: hidden;
  height: 420px;
  width: 440px;
  transition: 0.3s;
  margin: 50px;
  }

.card-body{
  margin: 5px;
}  

  .card:hover {
    box-shadow: 30px 30px black;
    height: 430px;
    width: 450px;
    }
    
    .tag {
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;
    }
    .tag-teal {
    background-color: #47bcd4;
    }
    .tag-purple {
    background-color: #5e76bf;
    }
    .tag-pink {
    background-color: #cd5b9f;
    }  

    .dugmadi{
      width: 145px;
      height: 40px;
      background-color: rgb(96, 96, 214);
      color: aliceblue;
      border: 3px black solid;
      border-radius: 4px;
      margin-top: 2vw;
      position: relative;
      transition: 0.5s;
      margin-left: 8px;
      }
      
      .dugmadi:hover{
      width: 161px;
      height: 46px;
      background-color: aliceblue;
      color: rgb(96, 96, 214);
      border: 3px rgb(0, 0, 0) solid;
      border-radius: 4px;
      margin-top: 2vw;
      position: relative;
      margin-left: 8px;
      }
      
      .fx{
        display: flex;
        flex-wrap: wrap;
        margin-left: -8px;
        margin-right: -8px;
        flex-direction: row;
        justify-content: center;
    }
    
    .tabcontent {
      display: block;
      padding: 6px 12px;
      border-top: none;
      animation: animacijaZaTab 1s;
      }
      
      @keyframes animacijaZaTab {
        from {opacity: 0;}
        to {opacity: 1;}
        }
        
    